* {
  margin: 0;
  padding: 0;
}

.main {
  border-color: solid;
  width: 600px;
  height: 400px;
  background-color: white;
  margin: auto;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.input-text {
  width: 300px;
  height: 100px;
  margin: 80px;
  border-style: solid;
  border-color: black;
  border-width: 1px 4px 4px 1px;
}

.msg-box {
  font-size: 12;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  width: 600px;
  height: 100px;
  background-color: white;
  margin: 30px auto;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.text-salida {
  width: 300px;
  height: 20px;
  margin: 10px;
  border: none;
}
